<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="card text-center" style="width: 300px;">
    <head>
    <link rel="stylesheet" type="text/css" href="/css/StylefogetPass.css">
    </head>
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <div th:if="${session.message}" class="container">
            <div>
                <span th:text="${session.message}"></span>
            </div>
            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>
        <!--email form-->
        <form method="post" action="" th:action="@{/send-otp}">
            <div class="form-group">
                <input name="email" required="required" type="email" placeholder="Enter email" class="form-control" />
            </div>

            <div class="container">
               <button>Send otp</button>
            </div>

        </form>
    </div>
</div>
</html>
