<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div class="card-header h5 text-white bg-primary">Change Password</div>
  <link rel="stylesheet" type="text/css" href="/css/StylepasswordChange.css">

</head>

<form method="post" action="" th:action="@{/change-password}">
<!--  <div th:if="${session.message}" class="container">-->
<!--    <div>-->
<!--      <span th:text="${session.message}"></span>-->
<!--    </div>-->
<!--    <th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
<!--  </div>-->
  <div class="form-group">
    <input name="newpassword" required="required" type="text" placeholder="Enter new password" class="form-control" />
  </div>

  <div class="container">
    <button>Change password</button>
  </div>

</form>
</html>